* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.footer {
    text-align: center;
}
body {
    background-image: linear-gradient(
        to bottom right,
        rgb(78, 115, 223),
        rgb(225, 227, 233)
    );
}
