* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.footer {
    text-align: center;
}

.full h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}
.full p {
    font-size: 20px;
}
