* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navigation {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../img/g1.png");
    background-size: cover;

    z-index: -1;

    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
}
.hero {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.hero h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.hero p {
    color: rgb(185, 180, 180);
    font-size: 29px;
    text-align: center;
}
.footer {
    text-align: center;
}
.container .card {
    margin-top: 2%;
    align-items: center;
}
.info {
    margin-top: 5%;
    text-align: center;
}
.text {
    text-align: center;
}
.card-title {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 28px;
    }
}
